
body{
    background-color: rgba(29, 27, 170, 0.616);
}

.container{
    background-color: rgb(96, 194, 197);
}

a{
    color: darkmagenta;
    font-weight: bold;
    text-decoration: underline;
}

p{
    color: rgb(255, 255, 255);
}

h2{
    color: rgb(193, 193, 194);
    font-weight: bold;
}

.container2{
    background-color: rgb(74, 161, 241);
}
h4{
    color: rgb(72, 193, 197);
}

.titulo1{
    font-weight: bold;
}